@import url("./fonts/noto-sans-sc/wght.css");
@import url("./fonts/noto-serif-sc/wght.css");
@import url("./fonts/jetbrains-mono/wght.css");
@import url("./fonts/source-code-pro/wght.css");

@font-face {
  font-family: "Noto Sans SC Variable";
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url("./fonts/noto-sans-sc/NotoSansSC-VF.ttf") format("truetype");
}

@font-face {
  font-family: "Noto Serif SC Variable";
  font-style: normal;
  font-display: swap;
  font-weight: 200 900;
  src: url("./fonts/noto-serif-sc/NotoSerifSC-VF.ttf") format("truetype");
}

@font-face {
  font-family: "JetBrains Mono Variable";
  font-style: normal;
  font-display: swap;
  font-weight: 100 800;
  src: url("./fonts/jetbrains-mono/JetBrainsMono-wght.ttf") format("truetype");
}

@font-face {
  font-family: "Source Code Pro Variable";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("./fonts/source-code-pro/SourceCodePro-Regular.ttf") format("truetype");
}
